h1{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

}
h4{
 font-style: oblique;
 font-weight:bold;
 color: darkblue;
}
h6{
    font-weight:lighter;
    color:blueviolet;
}


p{
font-size: medium;
font-style:oblique;
font-weight: lighter;
color: black;
flex-direction: column-reverse;
}

table, th, td {
    border: 1px solid black;
  }